.bold-text{
font-weight:bold;
}

.input-style{
    box-sizing: border-box;
    width: 100%;
    padding: 12px 50px 12px 10px!important;
    border: 4px solid #ececec;
    color: #808080;
    font: 14px 'Open Sans',sans-serif;
}